<div class="container mt-3">
  <div class="row">
    <div class="col-6 mt-3" *ngFor="let item of items">
      <div class="card">
        <div class="card-header">
          {{ item.nameFood }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.price }}</h5>
          <p class="card-text">{{ item.info }}</p>
          <button class="btn btn-primary mt-2" (click)="item.reviewShowHidden = !item.reviewShowHidden"> {{ item.reviewShowHidden ? 'Hide reviews' : 'Show reviews'}}</button>
          <button class="btn btn-danger mt-2 ml-1" (click)=" deleteItem(item)"> Delete </button>
          <div class="reviews-block mt-1">
            <div class ='reviews' *ngIf="item.reviewShowHidden">
              <div *ngFor="let review of item.review">
                <h6 class="card-title mt-2">{{ review.name}}</h6>
                <p class="card-text">{{ review.text }}</p>
              </div>
              <div class="alert alert-info mt-3" *ngIf="!item.review.length">
                Отзывово о данном товаре нет!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-info" *ngIf="!items.length">
      Постов не найдено!
    </div>
  </div>
</div>
